<turbo-frame id="lazyModal">
  <div class="flex flex-col h-full justify-between px-[100px] py-[50px]">
    <div>
      <%# <input type="text" class="border w-full rounded-md"> %>
      <% @groups.each do |group| %>
        <div class="mb-2">
          <%= turbo_frame_tag "group_#{group.id}" do %>
            <% if activity_group = group.activity_groups.find { |ag| ag.activity_id == params[:activity_id].to_i } %>
              <%= destroy_activity_group_button(activity_group) %>
            <% else %>
              <%= create_activity_group_button(group, params[:activity_id]) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div>
      <%= primary_button('Done', data: { action: "click->lazyModal#close" }) %>
    </div>
  </div>
</turbo-frame>