<div data-carousel-target="carouselModal" class="hidden absolute h-screen w-screen bg-black z-700">
  <div class="flex items-center justify-center w-full h-full">
    <div data-carousel-target="carousel" class="h-5/6 w-5/6"></div>
  </div>

  <svg data-action="click->carousel#close" class="text-white hover:text-gray-400 absolute top-0 right-0 cursor-pointer w-12 h-12 pr-4 pt-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>

  <svg class="absolute top-1/2 left-0 text-white hover:text-gray-400 w-12 h-12 pl-4 cursor-pointer" data-action="click->carousel#previous" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
  </svg>

  <svg data-action="click->carousel#next" class="absolute top-1/2 cursor-pointer right-0 text-white hover:text-gray-400 w-12 h-12 pr-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
  </svg>
</div>