<%= turbo_stream.replace "selected_activity" do %>
  <%= turbo_frame_tag "selected_activity" do %>
    <div
      data-map-target="selected"
    >
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "panel" do %>
  <%= turbo_frame_tag "panel" %>
<% end %>